.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.checkbox {
    position: relative;
    // .checkbox__input
    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox__label .checkbox__icon {
            background: var(--orange);
        }
        &:checked + .checkbox__label .checkbox__icon img {
            opacity: 1;
        }
    }
    // .checkbox__icon
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 32px;
        width: 32px;
        height: 32px;
        border-radius: 7px;
        background-color: #d4d4d4;
        img {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    // .checkbox__label
    &__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        position: relative;
        gap: 30px;
    }
    // .checkbox__text
    &__text {
        font-size: 32px;
        span {
            &.cl {
                color: var(--orange);
            }
        }
    }
}
