@use "sass:math";

// Подключение миксинов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин

// Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "geometria", sans-serif;
$fontSize: 14px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
:root {
    --white: #fff;
    --black: #000;
    --orange: #e7b032;
}

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1080;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 932;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 50;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов)
$responsiveType: 1;

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

*::selection {
    background-color: #ffb300c7;
}

* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #222222;
    user-select: none;

    // scrollbar-gutter: stable;
    // Скролл заблокирован
    .lock & {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
    // Сайт загружен
    .loaded & {
    }
}

img {
    user-select: none;
}

[data-goto] {
    transition: 0.5s;
}

.page {
    padding-bottom: 40vh;
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    //overflow: hidden;
    // Прижимаем footer
    > main {
        flex: 1 1 auto;
    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }
}
// Ограничивающий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
// @if ($responsiveType==1) {
//     // Отзывчивая
//     [class*="__container"] {
//         @if ($maxWidthContainer>0) {
//             max-width: rem($maxWidthContainer);
//             box-sizing: content-box;
//             margin: 0 auto;
//         }
//         @if ($containerPadding>0) {
//             padding: 0 rem(math.div($containerPadding, 2));
//         }
//     }
// }

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных  классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "header";
@import "footer";

// Подключение стилей отдельных страниц
@import "home";

.quantity__button:hover {
    opacity: 0.5;
    transform: scale(0.92) translateZ(-1px);
}

.lang-header__button:active,
.quantity__button {
    transition: 0.3s;
}

.quantity__input input:not(:hover),
.quantity__input input:not(:focus) {
    user-select: none;
}

input::placeholder {
    user-select: none;
}

input:not(:focus):not(:hover):not(:active) {
    user-select: none;
}

.top-footer__bottom {
    flex-direction: row !important;
}

.top-footer__bottom .button {
    min-width: auto;
    font-size: 13px;
}

.button:hover {
    transform: scale(0.94) translateZ(-1px);
    opacity: 0.8;
}

.popup-button__column {
    cursor: pointer;
}

.lang-header._active .lang-header__button {
    transition: 0.5s !important;
}

.footer__column,
.popup__close {
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }
}
